.workout-header {
  display: grid;
  grid-template-columns: 20% auto 20%;
}

.title-workout {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  padding: 18px;
  background-color: #4c579e;
  color: #fff;
}

.date-container {
  align-self: center;
}

.weekday {
  font-size: 18px;
  font-weight: 600;
}

.date {
  font-size: 12px;
}

.rounds {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
}

.workout-bottom {
  display: grid;
  grid-template-columns: 20% auto 20%;
}

.ab-button {
  border: none;
}

@media only screen and (max-width: 450px) {
  .weekday {
    font-size: 14px;
  }

  .date {
    font-size: 8px;
  }

  .rounds {
    font-size: 14px;
    padding: 0 10px;
  }
}
