.ab-button {
  border: none;
}

.button-container .start {
  background-color: #37B6F8;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  height: 40px;
  /* width: 20%; */
}

.button-container .ab-button {
  background-color: #4c579e;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  height: 40px;
}

.button-container .start:hover, .button-container .ab-button:hover {
  cursor: pointer;
  color: #fff;
}

.button-container .start:active, .button-container .ab-button:active  {
  color: #fff;
  cursor: grabbing;
}

.button-container {
  height: 100%;
}

.button-container .finish {
  background-color: #F05966;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  height: 100%;
  width: 95%;
}

.button-container .finish:hover {
  cursor: pointer;
}

.button-container .finish:active {
  cursor: grabbing;
}

@media only screen and (max-width: 450px) {
  .button-container .ab-button {
    font-size: 14px;
  }

  .button-container .finish {
    font-size: 18px;
  }

  .button-container > * {
    width: 100%
  }
}
