.mobile-header-container {
  margin-top: 50px;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .mobile-header-container {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
