.workout-header {
  display: grid;
  grid-template-columns: 20% auto 20%;
  margin-top: 3.25rem;
}

.title-workout {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  background-color: #4c579e;
  color: #fff;
  cursor: pointer;
}

.date-container {
  align-self: center;
}

.weekday {
  font-size: 18px;
  font-weight: 600;
}

.date {
  font-size: 12px;
}

.rounds {
  font-size: 18px;
  font-weight: 600;
  justify-self: end;
  padding: 0 20px;
}

.workout-bottom {
  display: grid;
  grid-template-columns: 33% auto 33%;
}

.ab-button {
  border: none;
}

.timer-container {
  display: grid;
  grid-template-columns: 40% auto 40%;
}

.timer {
  grid-column-start: 2;
}

.favorite-icon {
  align-self: center;
  height: 30px;
  justify-self: center;
}

.exercise-table-container {
  box-shadow: 5px 5px 10px #4c579e;
  left: 50%;
  max-height: 90vh;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  transform: translateX(-50%);
  z-index: 10;

}

@media only screen and (max-width: 450px) {
  .workout-header {
    margin-top: 0px;
  }

  .weekday {
    font-size: 14px;
  }

  .date {
    font-size: 8px;
  }

  .rounds {
    font-size: 14px;
    padding: 0 10px;
  }

  .exercise-table-container {
    max-height: 90vh;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    width: 90%;
    /* border: 1px solid #4c579e; */

  }
}
