.workout-type-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.workout-type {
  border: 2px solid #4c579e;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #4c579e;
  margin: 15px;
  width: 20%
}

.workout-target-title {
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  color: #4c579e;
  cursor: pointer;
}

.show-pricing-link {
  filter: blur(5px);
  margin-top: 50px;
}

.pricing-link {
  border-radius: 20px !important;
  position: fixed !important;
  top: 20%;
  width: 95%;
  z-index: 1;
}

.card-container {
  text-align: center;
}

.upgrade-button {
  background-color: #ffdd57 !important;
}

@media only screen and (max-width: 450px) {
  .workout-type-list {
    margin: 55px 0;
  }

  .workout-type {
    border: 2px solid #4c579e;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #4c579e;
    margin: 10px 15px;
    width: 100%;
  }
}
